<footer class="mt-5 my-auto body-font w-full">
  <div
    class="container md:mx-auto max-w-5xl p-2 flex sm:flex-row flex-col items-center justify-center sm:justify-between border-t-2 border-gray-600"
  >
    <p class="text-sm text-gray-500">DBMS PROJECT-Library management system</p>
    <p
      class="inline-flex text-gray-500 text-center text-sm sm:ml-auto justify-center sm:justify-start"
    >
      Developed by Girish 052 (3VC20CS0555) and prathik 063(3VC20CS120)
    </p>
  </div>
</footer>
